@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'remixicon/fonts/remixicon.css';


:root{
  --prim:#b79f4f;
  --prim-dark:#ffc400;
  --text-color:#1d1913;
  --text-light:#c4beb8;
  --body:#191817;
  --white:#ffffff;
  --black:#000000;

  --transition-regular:.3s;
  --transition-slow:.6s;
}

.Rethink{
  font-family:  var(--font-rethink);
}
.DmSans{
  font-family:  var(--font-dmSans);
}

.Audiowide{
  font-family:  var(--font-audiowide);
}

*{
  scroll-behavior: smooth;
}

body{
  background: var(--body);
  color: var(--white);
  overflow-x: hidden !important;
}

/* Hero Header */

.hero-header{
  width: 100%;
  min-height: 100vh;
  background-image:  url(../public/Hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Marquee */

.marquee-text{
  -webkit-text-stroke: 2px #000;
  color:transparent;
}
.marquee__text{
  animation: marquee 25s linear infinite;
  width: max-content;
}

@keyframes marquee {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}

/* About sec */

.about-wrap{
  position: relative;
}
.about-wrap::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 2px;
  height: 100%;
  background-color: var(--background);
  opacity: 0.2;
  z-index: -1;
}

.about-content{
  position: relative;
}
.about-content::after{
  content: '';
  position: absolute;
   top: 5%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--prim-dark);
  display: flex;
  color: var(--black);
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 700;
  font-family: var(--font-rethink);  
}
.about-content:nth-child(1):after{
  content: '1';
}
.about-content:nth-child(2):after{
  content: '2';
}
.about-content:nth-child(3):after{
  content: '3';
}

/* Work Banner */

.work-banner{
  width: 100%;
  height:90vh;
  background: url(../public/work-banner-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.work-banner::after{
  content: '';
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0 ,0, 0.5);
  z-index: -1;
}

/* Testimonail */

.testimonial-image::after{
  content:"";
  position: absolute;
  top:0;
  left:0;
  width: 100% ;
  height: 100%;
  background-color: rgba(0, 0 ,0, 0.2);
}

 /* MQ Section */

 @media (max-width:991px){
  .about-content::after,
  .about-wrap:after{
    display: none;
  }
 }
 @media(max-width:575px){

 }

 /* Contact */

 #contact{
  background-image: url(../public/contact.bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 }